#blog {
  .card {
    .card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .card-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      height: 120px;
      margin-bottom: 20px;
    }
  }
}

#blog-detail {
  .feature-picture {
    background-size: cover;
    background-position: center;
    min-height: 340px;
    display: flex;

    .container-fluid {
      display: flex;
      align-self: flex-end;
      background: rgba($color: #000000, $alpha: 0.5);

      h1 {
        font-size: 1.7em;
        color: #FFF;
        padding: 15px 0;
        margin: 0;
        width: 100%
      }
    }
  }

  .post-detail {
    font-size: .9em;
  }

  .tag {
    a {
      text-decoration: none;
      border-radius: 2px;
      background: #F2F1F1;
      padding: 5px 10px;
      margin-right: 5px;
      color: #666;
      font-size: .8em;

      &:hover {
        background: #DDD
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #blog-detail {
    .feature-picture {
      min-height: 140px;
    }
    .post-detail {
      font-size: .7em;
    }
  }
}

@media only screen and (max-width: 992px) {
  #blog-detail {
    .feature-picture {
      min-height: 210px;
    }
    .post-detail {
      font-size: .8em;
    }
  }
}
