.form-control {
  border-color: #ddd !important;
}

.ql-toolbar {
  border-radius: 4px 4px 0 0;
  border-color: #ddd !important;
}

.ql-container {
  border-radius: 0 0 4px 4px;
  border-color: #ddd !important;
}
