@import "./colors.scss";

body {
  padding: 0;
  margin: 70px 0 0 0 !important;

  font-family: 'Roboto' !important
}

body.lock {
  overflow: hidden;
}

::selection {
  color: #EEE;
  background: $primaryColor;
}

@import "./utility.scss";
@import "./loading.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import './sidebar-menu.scss';
@import './burger-menu.scss';
