@import "./colors.scss";

body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto' !important
}

body.lock {
  overflow: hidden;
}

::selection {
  color: #EEE;
  background: $primaryColor;
}

ul.control-menus {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 5px;
  }
}

@import "./utility.scss";
@import "./loading.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import './sidebar-menu.scss';
@import './burger-menu.scss';
@import './blog.scss';
@import './react-tagsinput.scss';
@import './custom-form.scss';
